body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Inter", sans-serif;
}

h1 {
    color: black;
}

h2 {
    color: black;
}

button {
    width: 100px;
    margin: 30px;
}

.gameboard {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto auto auto;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    margin: 0;
    padding: 0;
    min-width: 500px;
    min-height: 200px;
    border: 0px;
}

.sqr {
    border: .5px solid;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    background-color: rgb(156, 156, 156);
}
