body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

h1 {
    margin: 5px 0px 0px;
}

h2 {
    height: fit-content;
    width: fit-content;
    margin: 0px;
    padding: 5px;
}

h3 {
    margin: 5px;
}

button {
    width: 100px;
    margin: 30px;
    padding: 5px;
}

img {
    margin: 0px;
    padding: 0px;
    max-width: 18px;
    max-height: 18px;
    aspect-ratio: 1;
}

#difficulty-selection {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 300px;
    height: fit-content;
    margin: 3px;
}

#difficulty-buttons {
    width: 200px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.difficulty {
    margin: 5px;
    padding: 5px 10px;
}

.gameboard {
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-rows: repeat(9, 20px);
    grid-template-columns: repeat(9, 20px);
    margin: 0;
    padding: 0;
    border: 0px;
    max-width: 350px;
}

.sqr {
    border: 1px solid;
    border-radius: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1;
    background-color: rgb(95, 95, 95);
    width: 20px;
    height: 20px;
}
